body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    background: #d8b6d8; 
    
}

/* الهيدر */
.header {
    text-align: center;
    padding: 20px 20px;
    background: #8467d7; 
    color: #000;
    border-radius: 50px 50px 50px 50px;
}

.header h1 {
    margin: 0;
    font-size: 36px;
}

.header p {
    margin-top: 10px;
    font-size: 18px;
}

/* الأقسام */
.categories {
    padding: 30px;
    text-align: center;
}

.categories h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
}

.cat-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.cat-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: #333;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.cat-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

/* الفوتر */
.footer {
    text-align: center;
    font-size: larger;
    padding: 15px;
    background: #8467d7; /* أزرق هادئ */
    color: white;
    margin-top: 40px;
    border-radius: 50px 50px 50px 50px;
}

/* شريط اتصل بنا أسفل الصفحة */
.contact-bar {
    background: #f2f4f7;
    padding: 20px;
    text-align: center;
    margin: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.contact-bar h3 {
    margin: 0 0 10px;
    font-size: 22px;
    color: #333;
}

.contact-bar a {
    display: inline-block;
    background: #0077cc;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
}

